* {
    box-sizing: border-box;
}

body {
    margin: 0;
    --header-height: 3.5rem;
    --footer-height: 5rem;
}

.header {
    position: fixed;
    top: 0;
    z-index: 1;
    height: var(--header-height);
    width: 100%;
    background: rgb(26, 41, 57);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    padding: 0 1.5rem;
    display: flex;
    gap: 1rem;
}

.header img {
    height: calc(var(--header-height) * .65);
}


.main-nav__items {
    padding: 0 1.5rem;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.main-nav__item a {
    text-decoration: none;
    color: rgb(254, 246, 223);
    font-size: calc(var(--header-height) * .35);
    font-weight: bold;
}

.main-nav__item:hover a,
.main-nav__item:active a {
    color: rgb(227, 203, 159);
}

main {
    width: 100%;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    margin-top: var(--header-height);
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: var(--header-height);
  width: 100%;
  height: calc(100vh - var(--header-height) - var(--footer-height));
  object-fit: cover;
  z-index: -1;
}

#intro {
    height: calc(100vh - var(--header-height) - var(--footer-height));
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-box {
    height: 80%;
    width: 80vw;
    background: rgba(7, 16, 45, 0.7);
    border-radius: 32px;
    padding: 3rem;
    display: flex;
}

.intro-text {
    width: 100%;
    padding: 2rem;
    color: rgb(198, 226, 250);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-text h1{
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
}

.intro-text {
    font-size: 1.1rem;
}

.intro-box .logo {
    padding: 4rem;
    display: flex;
    align-items: center;
}

.intro-box img {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.footer {
    height: var(--footer-height);
    width: 100%;
    padding: .5rem;
    background: rgb(26, 41, 57);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: .5rem;
}

.footer img {
    height: calc(var(--footer-height) * .35);
}

.footer p {
    margin: 0;
    color: #808080;
    font-size: calc(var(--footer-height) * .15);
}


